
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Hind, sans-serif;
  overflow-x: hidden;
}
img {max-width: 100%;}
p {line-height: 1.5;}
ul {
  list-style: none;
  margin: 0px;
}
a {text-decoration: none;}
a, span, label, input {
  display: inline-block;
}
input, textarea, button {outline: none;}
.py {
  padding-top: 100px;
  padding-bottom: 100px;
}
.shown {
  display: block;
  visibility: visible;
  opacity: 1;
  animation: scale 1s ease-in-out forwards;
  -webkit-animation: scale 1s ease-in-out forwards;
}
.hide {
  display: none;
  visibility: hidden;
  opacity: 0;
}
@keyframes scale {
  0% {
      transform: scale(0.5);
      opacity: 0.5;
      filter: grayscale(1);
  }
  50% {
      opacity: 1;
      transform: scale(1);
      filter: grayscale(0);
  }
}
a.try-free {
  padding: 0.8rem 1.5rem;
  background: var(--primary-color, #455ef9);
}
a.try-free:hover, a.try-free:focus {
  background: var(--primary-color, #455ef9);
  border-color: var(--primary-color, #455ef9);
  box-shadow: var(--shadow, 0 10px 20px 0 rgba(4,23,118,0.3)) !important;
}

article.article h3 span .yellowbg {
  bottom: -2px;
  left: 0px;
  z-index: -1;
  animation: 3s linear 0s infinite normal none running yellowBg;
}
@keyframes yellowBg {
  0% {width: 0px;}
  15% {width: 100%;}
  85% {opacity: 1;}
  90% {
      width: 100%;
      opacity: 0;
  }
  100% {
      width: 0px;
      opacity: 0;
  }
}

/* header style */
header {
  position: fixed;
  
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 0px 70px;
  z-index: 100;
}
header.sticky {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background: var(--color-light,#fff);
  box-shadow: var(--shadow);
  animation: 0.1s ease-in-out 0s 1 normal forwards running fade;
}
header.scroll{
  position: fixed;
  background-color: #fff;
  box-shadow: 0px 10px 20px 0px rgba(8,0,42,0.08);
  transition: all ease 0.3s;
}
@keyframes fade {
  0% {
      opacity: 0;
      transform: translate3d(0px, -100%, 0px);
  }
  100% {
      opacity: 1;
      transform: none;
  }
}
ul li a, a {
  color: var(--color, #0e1133);
  font-weight: 500;
  transition: all 0.3s ease-in-out 0s;
  font-family: Hind, sans-serif;
}
section {z-index: 3;} 
header .header-left a.logo {margin-top: 10px;}
header .header-left a.logo figure {
  width: 114px;
  height: 46px;
  margin: 0;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  /* position: fixed; */
}
header .header-category {padding-left: 56px;}
header .header-category::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 27px;
  width: 1px;
  height: 165%;
  background: rgb(206, 206, 206);
}
header .header-category li ul.drop-down-menu li > a:hover, header ul li.drop_down_btn:hover > a {
  fill: var(--primary-color,#2bbcff);
  color: var(--primary-color,#2b4eff);
}
header .header-category .header-category-icon {
  width: 15px;
  margin-right: 10px;
}
header ul li ul.drop-down-menu {
  left: 0px;
  width: 200px;
  background: var(--color-light,#fff);
  box-shadow: rgba(8, 0, 42, 0.08) 0px 10px 20px 0px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-out 0s;
  z-index: 9;
}
header ul li ul.category-drop-down-menu {
  top: calc(100% + 30px);
  padding: 17px 0px 15px;
  border-radius: 4px;
}
header ul li ul.drop-down-menu li a {
  width: 100%;
}
header .header-category li ul.drop-down-menu li > a {
  padding: 3px 30px;
  color: rgb(109, 110, 117);
  font-weight: 500;
  text-transform: capitalize;
}
header li.drop_down_btn:hover ul.drop-down-menu {
  top: 100%;
  visibility: visible;
  opacity: 1;
}
header .header-right nav.main_menu {width: 50%;}
header .header-right nav.main_menu ul {padding: 0px;}
header .header-right nav.main_menu ul span {
  font-size: 0.6rem;
  vertical-align: text-top;
}
header .header-right nav.main_menu ul a:not(.drop-down-menu a) {padding: 35px 0px;}
header nav.main_menu ul li ul.drop-down-menu {top: 120%;}
header nav.main_menu ul li ul.drop-down-menu a {
  padding: 10px 25px;
  font-size: 13px;
  position: relative;
  z-index: 1;
}
header nav.main_menu ul li ul.drop-down-menu li:not(:last-child) a {
  border-bottom: 1px solid rgb(221, 221, 221);
}
header nav.main_menu ul li ul.drop-down-menu a::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: calc(100% + 1px);
  width: 100%;
  z-index: -2;
  background: var(--primary-color);
  transform-origin: right center;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out 0s;
}
header nav.main_menu ul li ul.drop-down-menu a:hover {
  color: var(--color-light,#fff);
  background-color: blue;
}
header nav.main_menu ul li ul.drop-down-menu a:hover::before {
  transform-origin: left center;
  transform: scaleX(1);
  transition-delay: 0.1s;
}
header .form_and_btn form {
  background: var(--color-light,#fff);
  padding: 0.5rem 1rem 0.5rem 1.5rem;
  border-radius: 0.2rem;
  margin-right: 1.5rem;
  border: 1px solid transparent;
}
header.sticky .form_and_btn form {
  background: var(--gray-color,#edeef3);
}
header .form_and_btn form:focus-within {
  border-color: var(--primary-color, #455ef9);
}
header .form_and_btn form .shopping-cart-icon {width: 24px;}
header .form_and_btn form .shopping-cart-icon path {
  fill: transparent;
  stroke: rgb(0, 0, 0);
  stroke-width: 1.2px;
}
header .form_and_btn form button, .form_and_btn form input {
  background: transparent;
  border: none;
}
header .form_and_btn form input {
  padding: 5px 1rem;
  font-size: 14px;
  width: 100%;
  border-right: 1px solid rgb(221, 221, 221);
  margin-right: 10px;
}
header .form_and_btn form .shopping-cart-and-label span {
  position: absolute;
  top: -7px;
  right: -11px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--primary-color, #455ef9);
  text-align: center;
  line-height: 18px;
  color: var(--color-light,#fff);
  font-size: 13px;
  box-shadow: var(--shadow, 0 10px 20px 0 rgba(4,23,118,0.3));
}
#header-content {
  height: 450px;
  background-image: url(../images/page-title.jpg)
}

#header-content .page-title {
  margin-top: 310px;
  color: white;
}

#header-content .page-title li a {

  color: white;
}

#header-content .page-title .course-dot {

  margin-left: 20px;
}
header .toggle-btn {
  width: 35px;
  height: 25px;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  background: rgba(0,0,0,0.7);
  z-index: 112;
}
.overlay.toggle {
  opacity: 1;
  pointer-events: all;
}





/* course categ*/

#course-categories .course-tab-inner {
  padding: 15px 20px;
  border-radius: 4px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

#course-categories .course-tab-btn .nav-tabs {
  border: none;
}

#course-categories .course-tab-btn .nav-tabs .nav-item .nav-link {
  border-radius: 4px;
  border: none;
  width: 30px;
  height: 30px;
  background: transparent;
  padding: 0;
  margin-right: 6px;
}

#course-categories .course-tab-btn .nav-tabs .nav-item .nav-link svg {
  width: 14px;
  height: 14px !important;
}

#course-categories .course-tab-btn .nav-tabs .nav-item .nav-link svg.grid .st0 {
  fill: none;
  stroke: #53545b;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#course-categories .course-tab-btn .nav-tabs .nav-item .nav-link.active {
  background: #2b4eff;
}

#course-categories .course-tab-btn .nav-tabs .nav-item .nav-link.active svg.grid .st0 {
  fill: none;
  stroke: #ffffff;
}

#course-categories .course-tab-btn .nav-tabs .nav-item .nav-link.active svg .st0 {
  fill: #ffffff;
}

#course-categories .course-tab-2 .nav-tabs {
  border: none;
  border-radius: 4px;
  overflow: hidden;
}

#course-categories .course-tab-2 .nav-tabs .nav-item {
  width: 25%;
}

#course-categories .course-tab-2 .nav-tabs .nav-item:not(:last-child) .nav-link {
  border-right: 1px solid #d2d3dc;
}

#course-categories .course-tab-2 .nav-tabs .nav-item:not(:last-child) .nav-link.active {
  border-color: #2b4eff;
}

#course-categories .course-tab-2 .nav-tabs .nav-item .nav-link {
  background: #edeef3;
  font-size: 16px;
  font-weight: 600;
  color: #0e1133;
  width: 100%;
  height: 54px;
  line-height: 54px;
  padding: 0;
  text-align: center;
  border-radius: 0;
}

#course-categories .course-tab-2 .nav-tabs .nav-item .nav-link i {
  padding-right: 5px;
}

#course-categories .course-tab-2 .nav-tabs .nav-item .nav-link.active {
  background: #2b4eff;
  color: #ffffff;
}

#course-categories .course-view {
  margin-left: 12px;
}

#course-categories .course-view h4 {
  font-size: 15px;
  font-weight: 500;
  color: #53545b;
  display: inline-block;
  margin-bottom: 0;
}

#course-categories .course-sort-inner {
  position: relative;
}

#course-categories .course-sort-inner::before {
  right: 15px;
  top: 4px;
  position: absolute;
  color: #53545b;
  font-weight: 500;
}

#course-categories .course-sort-inner select {
  border: none;
  outline: none;
  width: 160px;
  height: 35px;
  line-height: 37px;
  padding: 0 20px;
  font-size: 15px;
  color: #53545b;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 4px;
}

#course-categories .course-sort-inner select:hover {
  cursor: pointer;
}

/* course_category */

#course {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#course .course-category a {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
}

#course .course-category .category-icon {
  width: 40px;
  fill: rgb(43, 78, 255);
}

#course .course-category:hover .category-content * {
  color: #fff;
}

#course .course-category:hover .category-icon {
  fill: #fff;
}

#course .course-category .category-content h4 {
  margin: 0px;
  font-size: 1.2rem;
  color: var(--color);
  font-weight: 600;
}

#course .course-category .category-content {
  padding-left: 2rem;
  padding-top: 1rem;
}

#course .course-category .category-content p {
  color: #555555;
}

#course .course-base-item {
  margin-top: 6rem;
  padding: 30px 30px 20px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 0.3rem;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

#course .course-base-content {
  width: 50%;

}

#course .course-base-content span {
  padding: 1px 15px;
  color: #fff;
  font-size: 13px;
  border-radius: 23px;
  margin-bottom: 1rem;
  background: var(--secondary-color, #fc4389);
}

#course h3 {
  font-size: 1.3rem;
  font-weight: 700;
  cursor: pointer;
}


#course .course-base-content a.try-free {
  padding: 0.2rem 0.5rem;
  margin-top: 2rem;
}

#course .course-base-item.one {
  background-image: url("../images/banner-bg-1.jpg");
  margin-right: 0.5rem;
  height: 250px;
}

#course .course-base-item.two {
  background-image: url("../images/banner-bg-2.jpg");
  margin-left: 0.5rem;
  height: 250px;
}


#course .course-banner-item.two {
  padding: 2px 30px 0px;
}

#course .course-banner-item.two .course-banner-thumb {
  width: 300px;
}



#course-categories {
  background: var(--gray-color);
}

#course-categories article.article h3 {
  font-size: 2.2rem;
}

#course-categories .course-categoties-filter-menu {
  flex-wrap: wrap;
}

#course-categories .course-categoties-filter-menu li {
  color: var(--color);
  cursor: pointer;
}

#course-categories .course-categoties-filter-menu li:not(:last-child) {
  margin-right: 1rem;
}


#course-categories .course-card {
  transform-origin: bottom center;

}

#course-categories .course-card-item {
  background: rgb(255, 255, 255);
  border-radius: 0.5rem;
  overflow: hidden;
  height: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#course-categories .course-card-item .course-card-header {
  overflow: hidden;
}

#course-categories .course-card-item:hover .course-card-header img {
  transform: scale(1.1);
}

#course-categories .course-card-header img {
  transition: all 0.3s ease-in-out 0s;
}

#course-categories .course-card-header .course-tag {
  top: 20px;
  left: 20px;
  color: rgb(255, 255, 255);
}

#course-categories .course-card-header .course-tag span {
  padding: 0px 5px;
  border-radius: 0.25rem;
  background: var(--primary-color, #2b4eff);
}

#course-categories .course-card-body,
#course-categories .course-card-footer {
  padding-left: 2rem;
  padding-right: 2rem;
}

#course-categories .course-card-body {
  padding-top: 1.5rem;
  border-bottom: 1px solid rgb(235, 235, 235);
}

#course-categories .course-card-body .course-lesson-and-rating {
  color: rgb(80, 79, 79);
  margin-bottom: 1rem;
}

#course-categories .course-card-body .course-lesson-and-rating i.fas.fa-star {
  color: #ff9c43;
}

#course-categories .course-card-body h3.course-name {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}

#course-categories a {
  color: var(--color, #0e1133);
}

#course-categories a:hover,
#course-categories h3.course-name:hover a {
  color: var(--primary-color, #2b4eff);
}

#course-categories .course-card-body .course-instructor figure {
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 0px;
  margin-right: 1rem;
  width: 33px;
  border: 2.5px solid var(--color-light, #fff);
  box-shadow: var(--shadow);
}

#course-categories .course-card-body .course-instructor {
  margin-bottom: 1rem;
}

#course-categories .course-card-body .instructor-name a {
  color: rgb(68, 68, 68);
}

#course-categories s .course-card-item .course-card-footer {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

#course-categories .course-card-item .course-card-footer .current-amount {
  font-size: 1.2rem;
  color: var(--primary-color, #2b4eff);
  font-weight: bold;
  margin-left: 5px;
}

#course-categories .course-card-footer a.view-all i:last-child {
  right: -19px;
}

#course-categories .course-card-footer a.view-all:hover i:first-child {
  right: -19px;
  z-index: 3;
}

#course-categories .course-tab {
  align-items: center !important;
}

#course-categories .course-tab nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

#course-categories .course-tab ul {
  border: none;
  margin: 0px;
  padding: 0px;
}

#course-categories .course-tab ul li {
  list-style: none;
}

#course-categories .course-tab .nav-item .nav-link-active {
  background: #2b4eff;
}

#course-categories .course-tab .nav-tabs .nav-item.grid {
  list-style: none;
}

/* guide - under footer */
#guide .own-guid-card {
  padding: 2.5rem 5rem;
  background: #2b4eff;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-top: -5rem;
  z-index: 3;
}

#guide .own-guid-card .own-card-content {
  flex-wrap: wrap;
}

#guide .own-guid-card .cicle-shape {
  right: -163px;
  bottom: -90px;
}

#guide .own-guid-card h3 {
  font-size: 2.5rem;
  margin: 0;
  color: var(--color-light, #fff);
  font-weight: 600;
  z-index: 3;
}

#guide .own-guid-card .btn {
  z-index: 2;
  background: var(--color-light, #fff);
  padding: 1rem 2.5rem;
}

#guide .own-guid-card .btn:focus,
#guide .own-guid-card .btn:hover {
  box-shadow: var(--shadow);
  color: #0e1133;
}




/* footer */
footer {
  padding-top: 13rem;
  margin-top: -8rem;
  background: #0e1133;
  color:white;
}
footer p {color: #b9b9b9;}
footer a.logo {
  width: 120px;
}
footer .icons a {
  color: var(--gray-color);
  font-size: 1rem;
  margin: 0 5px;
  background: var(--btn-color);
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 46px;
  border-radius: 0.3rem;
  transition: all 0.3s ease-in-out;
  outline: 2px solid var(--btn-color);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
footer .icons .facebook:hover {
  outline-offset: 3px;
  background-color:#0e1133 ;
  color: #0c435c;

}
footer .icons  .twitter:hover{
  outline-offset: 3px;
  background-color:#0e1133 ;
  color: #03a9f4;
}

footer .icons .p:hover{
  outline-offset: 3px;
  background-color:#0e1133;
  color: #d2173f;
}
footer h4 {
  margin-bottom: 1.5rem;
}
ul.footer_menu li a {
  margin: 0.2rem 0;
  color: #b9b9b9;
}
ul.footer_menu li a:hover {
  color: var(--color-light, #fff);
}
footer .footer_bottom {
  padding: 5px 0;
  font-size: 13px;
  border-top: 1px solid #1c1f3f;
}
footer .footer_bottom a {
  color: var(--color-light, #fff);
}
footer form input[type="email"] {
  padding: 20px 14px;
  border: none;
  font-size: 15px;
  width: 70%;
  border-radius: 0.3rem 0 0 0.3rem;
}
footer form button {
  width: 20%;
  border: none;
  color: #fff;
  display: grid;
  place-items: center;
  overflow: hidden;
  background: #2b4eff;
  border-radius: 0 0.3rem 0.3rem 0;
}
footer form button i {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
footer form button i:first-child {
  left: 0;
  opacity: 0;
}
footer form button:hover i:first-child {
  left: 50%;
  opacity: 1;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
footer form button:hover i:last-child {opacity: 0;}
footer .con-mt {
  margin-top: calc(2rem / var(--i, 0));
}
/* click to top btn style */
.clickToTop_btn {
  bottom: 3rem;
  right: 3rem;
  color: var(--color);
  width: 50px;
  height: 50px;
  background: var(--gray-color);
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
  opacity: 0;
  box-shadow: var(--shadow);
  transform: translateY(25px);
  -webkit-transform: translateY(25px);
  -moz-transform: translateY(25px);
  -ms-transform: translateY(25px);
  -o-transform: translateY(25px);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.clickToTop_btn.fade {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
.clickToTop_btn .circle {
  position: absolute;
  inset: 2px;
  display: grid;
  place-items: center;
  border-radius: inherit;
  background: var(--color-light, #fff);
}